<div class="row">
    <div class="col-6 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Informações Gerais</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et omnis similique odit quidem distinctio aliquid.</p>
                <form [formGroup]="requestForm">
                    <div class="form-group col-md-8">
                        <label for="">Catalogo</label>
                        <select class="form-control" name="catalog" id="catalog" formControlName="catalog" [ngClass]="{ 'is-invalid': submitted && f.catalog.errors }">
                            <option value="">Escolha uma opção</option>
                        </select>
                        <div *ngIf="submitted && f.catalog.errors" class="invalid-feedback">
                            <div *ngIf="f.catalog.errors.required">Informação é obrigatório</div>
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="">Campanha</label>
                        <select class="form-control" name="campaign" id="campaign" formControlName="campaign" [ngClass]="{ 'is-invalid': submitted && f.campaign.errors }">
                            <option value="">Escolha uma opção</option>
                        </select>
                        <div *ngIf="submitted && f.campaign.errors" class="invalid-feedback">
                            <div *ngIf="f.campaign.errors.required">Informação é obrigatório</div>
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="">Lote</label>
                        <select class="form-control" name="lot" id="lot" formControlName="lot" [ngClass]="{ 'is-invalid': submitted && f.lot.errors }">
                            <option value="">Escolha uma opção</option>
                        </select>
                        <div *ngIf="submitted && f.lot.errors" class="invalid-feedback">
                            <div *ngIf="f.lot.errors.required">Informação é obrigatório</div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div class="col-6 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Adicionar produto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus ab, facere quam asperiores ipsa eaque facilis repudiandae.</p>
                <form [formGroup]="requestForm" (ngSubmit)="setProducts()">

                    <div class="form-group col-md-12">
                        <label for="">Referencia</label>
                        <input id="username" type="text" class="form-control" placeholder="referencia produto" formControlName="reference" [ngClass]="{ 'is-invalid': submitted && f.reference.errors }">
                        <div *ngIf="submitted && f.reference.errors" class="invalid-feedback">
                            <div *ngIf="f.reference.errors.required">Informação é obrigatório</div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="">Quantidade</label>
                        <input id="username" type="text" class="form-control" placeholder="quantidade produto" formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                        <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                            <div *ngIf="f.amount.errors.required">Informação é obrigatório</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit-btn text-uppercase"> Adicionar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="col-12 table-responsive col-tb">
                    <table id="order-listing" class="table table-striped w-100 dataTable no-footer" role="grid" aria-describedby="order-listing_info" style="width: 1042px;">
                        <thead>
                            <tr role="row" class="bg-light">
                                <th style="width: 219px;">EAN</th>
                                <th style="width: 219px;">Referencia</th>
                                <th style="width: 219px;">Produto</th>
                                <th style="width: 219px;">Quantidade</th>
                                <th style="width: 80px;">Estoque</th>
                                <th style="width: 80px;">Preço/Und</th>
                                <th style="width: 80px;">Preço/Total</th>
                                <th style="width: 66px;">Selecionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of users">
                                <td>{{u._user.username}}</td>
                                <td>{{u._type.type}}</td>
                                <td><input type="checkbox" (click)="selectUsers()"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>