<div class="row">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <div class="col-12 grid-margin d-none d-lg-block">
        <div class="intro-banner">
            <div class="banner-image">
                <img src="assets/img/dashboard/banner_img.png" alt="banner image">
            </div>
            <div class="content-area">
                <h3 class="mb-0">{{titleIn}}, {{currentUser.first_name}}</h3>
                <p class="mb-0">{{subtitleIn}}</p>
            </div>

        </div>
    </div>
</div>