<div class="right-sidebar-toggler-wrapper">
    <div class="sidebar-toggler" id="layout-toggler"><a href="javascript:void();" (click)="redirectHome()"><i class="mdi mdi-home"></i></a></div>
    <!-- <div class="sidebar-toggler"><a href="javascript:void();" (click)="redirectProfile()"><i class="mdi mdi-clipboard-account"></i></a></div> -->
    <div class="sidebar-toggler"><a href="javascript:void();" (click)="redirectRequest()"><i class="mdi mdi-file-document-outline"></i></a></div>
    <div class="sidebar-toggler"><a href="https://{{currentUser.website}}" target="blank_"><i class="mdi  mdi-share"></i></a></div>
</div>