<!-- Main Content -->
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper auth p-0 theme-two">
            <div class="row d-flex align-items-stretch">
                <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                    <div class="slide-content bg-1"></div>
                </div>
                <div class="col-12 col-md-8 h-100 bg-white">
                    <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                        <div class="nav-get-started">
                            <p>Já possui uma conta?</p>
                            <a class="btn get-started-btn text-uppercase" [routerLink]="['/login']">Entrar</a>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <h3 class="mr-auto ">Vamos recuperar sua senha.</h3>
                            <p class="mb-5 mr-auto ">Informe seus dados abaixo.</p>
                            <div class="form-group ">
                                <div class="input-group ">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text ">
                                            <i class="mdi mdi-email-outline "></i>
                                        </span>
                                    </div>
                                    <input id="email" type="email" class="form-control" placeholder="Digite seu endereço de email" formControlName="email">
                                    <div class="invalid-feedback ">
                                        <div *ngIf="f.email.errors?.required">email é obrigatório</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <button [disabled]="loading" type="submit" class="btn btn-primary btn-rounded btn-fw submit-btn text-uppercase">Recuperar
                                    <span *ngIf="loading"><i class="mdi mdi-refresh mdi-spin"></i></span>
                                </button>
                                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
                            </div>
                            <div class="wrapper mt-5 text-gray ">
                                <p class="footer-text ">Copyright © 2019 <a href="https://www.nataldev.com/ " target="_blank ">Natal&#123;Dev&#125;</a>. Todos os direitos reservados.
                                </p>
                                <ul class="auth-footer text-gray ">
                                    <li>
                                        <a href="# ">Termos & Condições</a>
                                    </li>
                                    <li>
                                        <a href="# ">Política de cookies</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->