<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h1 class=" badge badge-pill badge-info">Dados Cadastrais</h1>
            <form class="form-sample" [formGroup]="CommonForm" (ngSubmit)="setFinaly()">


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Perfil</label>
                            <div class="col-sm-9">
                                <label for=""></label>
                                <select class="form-control" name="type" id="type" formControlName="type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                                    <option value="">Escolha uma opção</option>
                                    <option *ngFor="let data of types"  value="{{data.id}}">{{data.type}} </option>
          </select>
                                <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                                    <div *ngIf="f.type.errors.required">A Informação é obrigatório</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Time</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="team" id="team" formControlName="team" [ngClass]="{ 'is-invalid': submitted && f.team.errors }">
            <option value="">Escolha uma opção</option>
            <option *ngFor="let data of teams" value="{{data.id}}">{{data.name}}
            </option>
          </select>
                                <div *ngIf="submitted && f.team.errors" class="invalid-feedback">
                                    <div *ngIf="f.team.errors.required">A Informação é obrigatório</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Setor</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="sector" id="sector" formControlName="sector" [ngClass]="{ 'is-invalid': submitted && f.sector.errors }">
                                    <option value="">Escolha uma opção</option>
                                    <option *ngFor="let data of sectors" value="{{data.id}}">{{data.name}}
                                    </option>
                                  </select>
                                <div *ngIf="submitted && f.sector.errors" class="invalid-feedback">
                                    <div *ngIf="f.sector.errors.required">A Informação é obrigatório</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nome Completo</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="full_name" [ngClass]="{ 'is-invalid': submitted && f.full_name.errors }"> </div>
                            <div *ngIf="submitted && f.full_name.errors" class="invalid-feedback">
                                <div *ngIf="f.full_name.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Data Nascimento</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" formControlName="birthday" [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }"> </div>
                            <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
                                <div *ngIf="f.birthday.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">CPF</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="cpf" [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }"> </div>
                            <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">
                                <div *ngIf="f.cpf.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">RG</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="rg" [ngClass]="{ 'is-invalid': submitted && f.rg.errors }"> </div>
                            <div *ngIf="submitted && f.rg.errors" class="invalid-feedback">
                                <div *ngIf="f.rg.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Genero</label>
                            <div class="col-sm-9">
                                <select class="form-control" formControlName="genre" [ngClass]="{ 'is-invalid': submitted && f.genre.errors }">
                <option value="">Escolha uma opção</option>
                <option value="F">Feminino</option>
                <option value="M">Masculino</option>
              </select>
                            </div>
                            <div *ngIf="submitted && f.genre.errors" class="invalid-feedback">
                                <div *ngIf="f.genre.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Indicação </label>
                            <div class="col-sm-4">
                                <div class="form-radio">
                                    <label class="form-check-label">
                  <input type="radio" class="form-check-input" formControlName="recommendation"
                    [ngClass]="{ 'is-invalid': submitted && f.recommendation.errors }" [value]="true"> Sim <i
                    class="input-helper"></i><i class="input-helper"></i></label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-radio">
                                    <label class="form-check-label">
                  <input type="radio" class="form-check-input" formControlName="recommendation"
                    [ngClass]="{ 'is-invalid': submitted && f.recommendation.errors }" [value]="false"> Não <i
                    class="input-helper"></i><i class="input-helper"></i></label>
                                </div>
                            </div>
                            <div *ngIf="submitted && f.recommendation.errors" class="invalid-feedback">
                                <div *ngIf="f.recommendation.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Telefone</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"> </div>
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Celular</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="cell" [ngClass]="{ 'is-invalid': submitted && f.cell.errors }"> </div>
                            <div *ngIf="submitted && f.cell.errors" class="invalid-feedback">
                                <div *ngIf="f.cell.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">E-mail</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"> </div>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-description"> </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Endereço </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"> </div>
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Complemento</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="complement" [ngClass]="{ 'is-invalid': submitted && f.complement.errors }"> </div>
                            <div *ngIf="submitted && f.complement.errors" class="invalid-feedback">
                                <div *ngIf="f.complement.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">CEP</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="zipcode" [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }"> </div>
                            <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                                <div *ngIf="f.zipcode.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Cidade</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"> </div>
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Estado</label>
                            <div class="col-sm-9">
                                <select class="form-control" formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                <option value="">Escolha uma opção</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal </option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão </option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul </option>
                <option value="MG">Minas Gerais</option>ption>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba </option>
                <option value="PR">Paraná </option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte </option>
                <option value="RS">Rio Grande do Sul </option>
                <option value="RO">Rondônia </option>
                <option value="RR">Roraima </option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
              </select>
                            </div>
                            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.state.errors.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-right mb-2  submit-btn text-uppercase">Finalizar Pedido</button>
            </form>
        </div>
    </div>
</div>