<form [formGroup]="requestForm" (ngSubmit)="setFinaly()">
    <div class="row">
        <div class="col-12">
            <h4 class="card-title">Informações Gerais</h4>
        </div>
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <p>Abaixo se encontra os campos de identificações de pedidos.
                        <code>Observação: Todos os campos são obrigatorios. </code></p>
                    <div class="form-group row">
                        <div class="col">
                            <label for="">Revista</label>
                            <select class="form-control" name="catalog" id="catalog" formControlName="catalog" [ngClass]="{ 'is-invalid': submitted && f.catalog.errors }">
                                <option value="">Escolha uma opção</option>
                                <option *ngFor="let data of catalogs" value="{{data.id}}">{{data._catalog.name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.catalog.errors" class="invalid-feedback">
                                <div *ngIf="f.catalog.errors.required">Informação é obrigatório</div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="">Campanha</label>
                            <select class="form-control" name="campaign" id="campaign" formControlName="campaign" [ngClass]="{ 'is-invalid': submitted && f.campaign.errors }">
                                <option value="">Escolha uma opção</option>
                                <option *ngFor="let data of campaigns" value="{{data.id}}">{{data.order_send_name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.campaign.errors" class="invalid-feedback">
                                <div *ngIf="f.campaign.errors.required">Informação é obrigatório</div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="">Lote</label>
                            <select class="form-control" name="lot" id="lot" formControlName="lot" [ngClass]="{ 'is-invalid': submitted && f.lot.errors }">
                                <option value="">Escolha uma opção</option>
                                <option *ngFor="let data of lots" value="{{data.id}}">{{data.id}}</option>
                            </select>
                            <div *ngIf="submitted && f.lot.errors" class="invalid-feedback">
                                <div *ngIf="f.lot.errors.required">Informação é obrigatório</div>
                            </div>
                        </div>

                        <div class="col">
                            <label for="">Consultor(a)</label>
                            <!-- <select class="form-control select_profile" name="profile" id="profile" formControlName="profile" [ngClass]="{ 'is-invalid': submitted && f.profile.errors }">
                                <option value="">Escolha uma opção</option>
                                <option *ngFor="let data of users" value="{{data.id}}">{{data.full_name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.profile.errors" class="invalid-feedback">
                                <div *ngIf="f.profile.errors.required">Informação é obrigatório</div>
                            </div>
 -->

                            <ng-select class="custom" [items]="users" bindLabel="full_name" bindValue="id" placeholder="Escolha uma opção" appendTo="body" formControlName="profile">
                                <ng-template ng-header-tmp>
                                    <small class="form-text text-muted">Carregado {{users.length}} de
                                        {{users.length}}</small>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                    {{item.cpf}} - {{item.full_name}}
                                </ng-template>
                            </ng-select>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 grid-margin" *ngIf="f.catalog.value && f.campaign.value && f.lot.value && f.profile.value">
            <h4 class="card-title">Adicionar produtos</h4>
            <div class="card">
                <div class="card-body">
                    <p>Pesquise o produto pela referencia e em seguida adicione a tabela de itens.
                        <code>Observações: Campo TAMANHO não é obrigatorio.</code></p>
                    <form [formGroup]="requestFormSearch" (ngSubmit)="searchProducts()">

                        <div class="form-group row">
                            <div class="col">
                                <label for="">Referencia</label>
                                <input id="username" type="text" class="form-control" placeholder="Referencia" formControlName="reference" [ngClass]="{ 'is-invalid': submitted && f_search.reference.errors }">
                                <div *ngIf="submitted && f_search.reference.errors" class="invalid-feedback">
                                    <div *ngIf="f_search.reference.errors.required">Informação é obrigatório</div>
                                </div>
                            </div>

                            <div class="col">
                                <label for="">Quantidade</label>
                                <input id="amount" type="number" class="form-control" placeholder="quantidade" formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f_search.amount.errors }">
                                <div *ngIf="submitted && f_search.amount.errors" class="invalid-feedback">
                                    <div *ngIf="f_search.amount.errors.required">Informação é obrigatório</div>
                                </div>
                            </div>

                            <div class="col">
                                <label for="">Tamanho</label>
                                <input id="size" type="text" class="form-control" placeholder="Tamanho" formControlName="size" [ngClass]="{ 'is-invalid': submitted && f_search.size.errors }">
                                <div *ngIf="submitted && f_search.size.errors" class="invalid-feedback">
                                    <div *ngIf="f_search.size.errors.required">Informação é obrigatório</div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary submit-btn text-uppercase"> Adicionar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="itens.length > 0">
        <form [formGroup]="requestFormItens">
            <div class="col-12">
                <h4 class="card-title">Lista de produtos</h4>
            </div>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">

                        <p>Segue abaixo os produto refrenciados na tabela de itens.
                            <code> Observações: Campo SELECIONAR não é obrigatorio.</code></p>
                        <div class="col-12 table-responsive col-tb">
                            <table class="table table-striped w-100  no-footer" role="grid" aria-describedby="order-listing_info" style="width: 1042px;">
                                <thead>
                                    <tr role="row" class="bg-light">
                                        <th style="width: 219px;">EAN</th>
                                        <th style="width: 219px;">Referencia</th>
                                        <th style="width: 219px;">Produto</th>
                                        <th style="width: 219px;">Quantidade</th>
                                        <th style="width: 80px;">Page</th>
                                        <th style="width: 80px;">size</th>
                                        <th style="width: 80px;">Preço/Und</th>
                                        <th style="width: 80px;">Preço/Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let data of itens.reverse();  let i = index">
                                        <td>{{data.ean}}</td>
                                        <td>{{data.reference}}</td>
                                        <td>{{data.description}}</td>
                                        <td> <input type="number" class="form-control" formControlName="amount" value="{{data.amount}}" (change)="setEditItens(i)"></td>
                                        <td>{{data.page}}</td>
                                        <td>{{data.size}}</td>
                                        <td>{{data.sale_price}}</td>
                                        <td>{{data.total | currency:'BRL':'symbol':'0.1-2':'pt'}}</td>
                                        <td><button type="button" class="btn btn-success" (click)="removeItens(i)">remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" *ngIf="itens.length > 0">
        <div class="col-12">
            <button type="submit" class="btn btn-success float-right mb-2  submit-btn text-uppercase">Finalizar
                Pedido</button>
        </div>
    </div>
</form>