<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
    <div class="container d-flex flex-row nav-top">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top">
            <a class="navbar-brand brand-logo" [routerLink]="['/dashboard']">
                <img src="{{currentUser.logo}}" alt="logo" />
            </a>
            <a class="navbar-brand brand-logo-mini" [routerLink]="['/dashboard']">
                <img src="{{currentUser.logo}}" alt="logo" />
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <div class="info-company">
                {{currentUser.cnpj}} - {{currentUser.name_company}}
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
                    <a class="nav-link dropdown-toggle" id="UserDropdown" href="javascript:void()" data-toggle="dropdown" aria-expanded="false">
                        <div class="wrapper d-flex flex-column">
                            <span class="profile-text">{{currentUser.first_name}} {{currentUser.last_name}}</span>
                            <span class="user-designation">{{currentUser.type}}</span>
                        </div>
                        <div class="display-avatar bg-inverse-primary text-primary">AS</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" src="{{currentUser.profile.photo}}" alt="Profile image">
                            <p class="mb-1 mt-3 font-weight-semibold">{{currentUser.first_name}} {{currentUser.last_name}}</p>
                            <p class="font-weight-light text-muted mb-0">{{currentUser.email}}</p>
                        </div>
                        <a routerLink="/dashboard/profile" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary"></i>
                            Meu Perfil </a>
                        <a href="javascript:void()" class="dropdown-item"><i
                                class="dropdown-item-icon mdi mdi-key text-primary"></i> Grupo & Permissões</a>
                        <a href="javascript:void()" class="dropdown-item"><i
                                class="dropdown-item-icon mdi mdi-help-circle-outline text-primary"></i> FAQ</a>
                        <a href="javascript:void()" class="dropdown-item" (click)="logout()"><i
                                class="dropdown-item-icon mdi mdi-power text-primary"></i>Deslogar</a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </div>
    <div class="nav-bottom">
        <div class="container">
            <ul class="nav page-navigation">
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/admin']" class="nav-link">
                        <i class="link-icon mdi mdi-home"></i>
                        <span class="menu-title">Inicio</span>
                    </a>
                </li>

                <li class="nav-item mega-menu">
                    <a href="javascript:void()" class="nav-link">
                        <i class="link-icon mdi mdi-cash-multiple"></i>
                        <span class="menu-title">Financeiro</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="submenu">
                        <div class="col-group-wrapper row">
                            <div class="col-group col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="category-heading">Relatorios</p>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="submenu-item">
                                            <li class="nav-item">
                                                <a class="nav-link" [routerLink]="['/dashboard/admin/reports/manager']">Gerenciais</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" [routerLink]="['/dashboard/admin/reports/leader']">Leader</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" [routerLink]="['/dashboard/admin/reports/consultant']">Consultor(a)s</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-group col-md-6 ">
                                <div class="row ">
                                    <div class="col-12 ">
                                        <p class="category-heading">Caixa</p>
                                    </div>
                                    <div class="col-md-6 ">
                                        <ul class="submenu-item ">
                                            <li class="nav-item ">
                                                <a class="nav-link" [routerLink]="['/dashboard/admin/financial/timeline']">Linha do
                                                    tempo</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link" [routerLink]="['/dashboard/admin/financial/caixa']">Controle
                                                    (Abertura e Fechamento)</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link" [routerLink]="['/dashboard/admin/financial/']">Extrato</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-group col-md-2 ">
                                <p class="category-heading ">Pedidos</p>
                                <ul class="submenu-item ">
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="['/dashboard/admin/financial/requests/new']">Novo</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="['/dashboard/admin/financial/requests/timeline']">Timeline</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="['/dashboard/admin/financial/extract']">Extratos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item mega-menu ">
                    <a href="javascript:void()" class="nav-link">
                        <i class="link-icon mdi mdi-content-copy "></i>
                        <span class="menu-title ">Cadastros</span>
                        <i class="menu-arrow "></i>
                    </a>
                    <div class="submenu ">
                        <div class="col-group-wrapper row ">
                            <div class="col-group col-md-3 ">
                                <p class="category-heading ">Abastecimentos</p>
                                <ul class="submenu-item">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/dashboard/admin/register/providers']">Fonecedores</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="['/dashboard/admin/register/products']">Produtos</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-group col-md-3 ">
                                <p class="category-heading "> Colaboradores & Clientes</p>
                                <ul class="submenu-item ">
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="[ '/dashboard/admin/register/manager']">Gerentes</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="[ '/dashboard/admin/register/leader']">Lider</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="[ '/dashboard/admin/register/consultant']">Consultor(a)s</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-group col-md-3 ">
                                <p class="category-heading ">Fiscais & Finanças</p>
                                <ul class="submenu-item ">
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="['/dashboard/admin/register/nfe']">Notas
                                            Fiscais</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="['/dashboard/admin/register/billet']">Boletos
                                            Bancarios</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="['/dashboard/admin/register/tactics/payments']">Meios de
                                            Pagamentos</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-group col-md-3 ">
                                <p class="category-heading ">Equipes</p>
                                <ul class="submenu-item ">
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="['/dashboard/admin/register/sector']">Setores
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="['/dashboard/admin/register/team']">Time
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" [routerLink]="['/dashboard/admin/register/type/users']">Tipo
                                            de Usuarios</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="javascript:void()" class="nav-link ">
                        <i class="link-icon mdi mdi-settings"></i>
                        <span class="menu-title ">Configurações</span>
                        <i class="menu-arrow "></i>
                    </a>
                    <div class="submenu ">

                        <ul class="submenu-item ">
                            <li class="nav-item ">
                                <a class="nav-link" [routerLink]="['/dashboard/admin/settings/general']">Geral</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" [routerLink]="['/dashboard/admin/settings/plaint']">Plano</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" [routerLink]="['/dashboard/admin/settings/logs']">Logs</a>
                            </li>

                        </ul>

                    </div>
                </li>
                <li class="nav-item ">
                    <a href="javascript:void()" class="nav-link">
                        <i class="link-icon mdi mdi-cube-outline "></i>
                        <span class="menu-title ">Aplicativos</span>
                        <i class="menu-arrow "></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item ">
                            <li class="nav-item ">
                                <a class="nav-link" [routerLink]="[ '/dashboard/admin/app/leading']"> Leading
                                    (Consultoras, lider e gerentes)</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" [routerLink]="[ '/dashboard/admin/app/storefront']">PVD (Frente de
                                    Loja)</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>