<div class="row  ">
    <div class="col-12">
        <div *ngIf="error" class="alert alert-danger mt-3  mb-3">{{ error }}</div>
        <div *ngIf="success" class="alert alert-success mt-3 mb-3">{{ success }}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card center">
        <div class="card">
            <div class="card-body">
                <p>Abaixo escolha um usuario para definir acesso. Lembrando que poderar escolher mais de um usuario por vez.
                </p>

                <div class="col-12">
                    <form [formGroup]="userPermissionForm" (ngSubmit)="search()">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="username" type="text" class="form-control" placeholder="Digite seu nome de usuário" formControlName="search">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-12 table-responsive col-tb">
                    <table id="order-listing" class="table table-striped w-100 dataTable no-footer" role="grid" aria-describedby="order-listing_info" style="width: 1042px;">
                        <thead>
                            <tr role="row" class="bg-light">
                                <th style="width: 219px;">Usuario</th>
                                <th style="width: 80px;">Função</th>
                                <th align="center" style="width: 66px;">Selecionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of users | inputFilter: userPermissionForm.controls.search.value">
                                <td>{{u._user.username}}</td>
                                <td>{{u._type.type}}</td>
                                <td align="center"><input type="checkbox" [(ngModel)]="u.selected" (change)="selectUsers( u )"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card center">
        <div class="card">
            <div class="card-body">
                <p>Informe abaixo apos escolhido usuario, qual as pagina que ele deverar ter acesso. </p>

                <div class="col-12 table-responsive col-tb">
                    <table id="order-listing" class="table table-striped w-100 dataTable no-footer" role="grid" aria-describedby="order-listing_info" style="width: 1042px;">
                        <thead>
                            <tr role="row" class="bg-light">
                                <th style="width: 219px;">Evento</th>
                                <!-- <th style="width: 80px;">Ação</th> -->
                                <th align="center" style="width: 66px;">Selecionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of permission">
                                <td i18n>{{p.name}}</td>
                                <!-- <td i18n>{{p.codename}}</td> -->
                                <td align="center"><input type="checkbox" [(ngModel)]="p.selected" (change)="selectPermission()"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary float-right mb-2  submit-btn text-uppercase" (click)="set()">Finalizar</button>
    </div>
</div>