<app-greetings>
</app-greetings>

<div class="row" *ngIf="data">
    <div class="col-sm-4 col-md-4 col-lg-4 grid-margin stretch-card">
        <app-stretch-card [Query]="count_collaborator" [Data]="data.collaborator"></app-stretch-card>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 grid-margin stretch-card">
        <app-stretch-card [Query]="count_individual" [Data]="data.individual"></app-stretch-card>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 grid-margin stretch-card">
        <app-stretch-card [Query]="count_business" [Data]="data.busines"></app-stretch-card>
    </div>
</div>